# Python bytecode
__pycache__/
*.pyc

# Environment and credentials
.env
credentials.json

# Editor folders
.vscode/
*.swp

# Google OAuth
.env
credentials.json

# local OAuth tokens
.env
token.json

